@model SitecoreSendProxy.Models.OrderConfirmation.OrderModel

<mjml>
    <mj-head>
        <mj-style inline="inline">
            th {
            text-align: left;
            }

            thead tr {
            display: table-row;
            }
           td {
          	padding: 5px;
          }
        </mj-style>
    </mj-head>
    <mj-body width="900px">
        <mj-section padding-bottom="0px">
            <mj-column>
                <mj-image width="100px" src="https://commerce-demo.brimit.com/-/media/Images/Yamama/untitled-1_113.ashx"></mj-image>
                <mj-divider></mj-divider>
                <mj-text font-size="20px">
                    Order @Model.Order?.Id
                </mj-text>
                <mj-text>Dear @Model.Order?.FromUser?.FirstName @Model.Order?.FromUser?.LastName, thanks for the order!</mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-top="0px">
            <mj-column>
                <mj-text font-size="15px">Order details:</mj-text>
                <mj-table>
                    <tbody>
                    @foreach (var product in Model.LineItems)
                    {
                        <tr>
                            <td>
                                <img src="@product.ImageUrl" alt="@product.Product?.Id"/>
                            </td>
                            <td>
                                @product.Product?.Name
                            </td>
                            <td>
                                @product.UnitPrice @Model.Currency
                            </td>
                            <td>
                                @product.Quantity
                            </td>
                            <td>
                                @product.LineTotal @Model.Currency
                            </td>
                        </tr>
                    }
                    </tbody>
                </mj-table>
            </mj-column>
        </mj-section>
        <mj-section padding-top="0px" padding-bottom="0px">
            <mj-column>
                <mj-text font-size="15px">Addresses:</mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-top="0px" padding-bottom="0px">
            @{
                var billing = Model.BillingAddress;
                var shipping = Model.ShippingAddress;
            }
            @if (billing != null)
            {
                <mj-column>
                    <mj-text font-size="14px">Billing:</mj-text>
                    <mj-text>
                        @billing.FirstName&nbsp;@billing.LastName<br>
                        @billing.CompanyName<br>
                        @billing.Street1<br>
                        (@billing.Street2)<br>
                        @billing.Zip&nbsp;@billing.City,&nbsp;@billing.Country<br>
                        @billing.Phone
                    </mj-text>
                </mj-column>
            }
            @if (shipping != null)
            {
                <mj-column>
                    <mj-text font-size="14px">Shipping:</mj-text>
                    <mj-text>
                        @shipping.FirstName&nbsp;@shipping.LastName<br>
                        @shipping.CompanyName<br>
                        @shipping.Street1<br>
                        (@shipping.Street2)<br>
                        @shipping.Zip&nbsp;@shipping.City,&nbsp;@shipping.Country<br>
                        @shipping.Phone
                    </mj-text>
                </mj-column>
            }
        </mj-section>
        <mj-section padding-top="0px" padding-bottom="0px">
            <mj-column>
                <mj-text font-size="15px">Payments:</mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-top="0px" padding-bottom="0px">
            <mj-column>
                <mj-table width="350px">
                    <tbody>
                    <tr>
                        <td>Subtotal</td>
                        <td>@Model.Order?.Subtotal&nbsp;@Model.Currency</td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td>@Model.Order?.ShippingCost&nbsp;@Model.Currency</td>
                    </tr>
                    <tr>
                        <td>Taxes</td>
                        <td>@Model.Order?.TaxCost&nbsp;@Model.Currency</td>
                    </tr>
                    <tr>
                        <td colspan="100%">
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>@Model.Order?.Total&nbsp;@Model.Currency</td>
                    </tr>
                    <tr>
                        <td colspan="100%">
                            <hr/>
                        </td>
                    </tr>
                    @foreach (var payment in Model.Payments)
                    {
                        <tr>
                            <td>Payment method '@payment.Type'</td>
                            <td>@payment.Amount&nbsp;@Model.Currency</td>
                        </tr>
                    }
                    </tbody>
                </mj-table>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>